.item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    margin: 8px;
}

button {
    border: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    background: none;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
}

button:hover {
    cursor: pointer;
}

p {
    margin: 5px;
    font-size: large;
}

p:hover {
    cursor: default;
}


.line-through {
    text-decoration: line-through;
}