<div class="main">
    <form [formGroup]="todoForm" class="form" (ngSubmit)="onSubmit($event)">
        <div class="user-box">
            <input formControlName="addTodo" placeholder=" " type="text" name="addTodo" id="addTodo"/>
            <label for="addTodo">Add Todo</label>
        </div>
        <button type="submit">+</button>
    </form>
    <h2>Todo List:</h2>
    <todo-item *ngFor="let todoItem of todoItems; let index = index" [todo]="{ todoItems, index, todoItem }"></todo-item>
</div>